Repository nullplatform/technology-templates-node-js-rest-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run lint:fix, git add .

Add openapi & cluster
  config/default.json5
  config/development.json5
  config/production.json5
  config/test.json5
  package-lock.json
  package.json
  src/index.js
  src/server.js
Due: npm run prettier, npm run lint:fix, git add .

Add schemas validation, relational database support with migrations, and add example resource
  .sequelizerc
  config/custom-environment-variables.json
  config/default.json5
  config/development.json5
  config/production.json5
  config/test.json5
  migrations/20240101000000-create-schema.cjs
  migrations/20240103000001-enable-uuid-ossp-extension.cjs
  migrations/20240103000002-create-example.cjs
  migrations/common/timestamps.cjs
  migrations/common/uuid.cjs
  migrations/config/config.cjs
  migrations/config/database.cjs
  migrations/runner/app.js
  package-lock.json
  package.json
  src/controllers/ExampleController.js
  src/controllers/index.js
  src/models/example.js
  src/repositories/ExampleRepository.js
  src/repositories/index.js
  src/routes/example.js
  src/schemas/common/errorSchema.js
  src/schemas/common/idSchema.js
  src/schemas/exampleSchema.js
  src/schemas/index.js
  src/schemas/pageSchema.js
  src/services/ExampleService.js
  src/services/index.js
  test/functional/global.spec.js
  test/functional/root.spec.js
  test/unit/example.test.js
Due: npm run prettier, npm run lint:fix, git add .

Add wiremock examples
  package-lock.json
  package.json
  test/functional/global.spec.js
  test/mocks/files/coreEntitites/application-response-body.hbs
  test/mocks/mappings/core-entities-mapping.json
Due: npm run prettier, npm run lint:fix, git add .

Add test containers in CI
  .github/workflows/ci.yml
  .mocharc.yml
  test/containers/commands.js
  test/containers/script.sh
  test/containers/testContainers.js
  test/functional/global.spec.js
Due: npm run prettier, npm run lint:fix, git add .

Add test fixtures for functional testing
  .github/workflows/ci.yml
  .mocharc.yml
  Dockerfile
  package.json
  test/containers/commands.js
  test/containers/script.sh
  test/fixtures/globalSetup.js
  test/fixtures/globalTearDown.js
  test/fixtures/testContainers.js
  test/functional/global.spec.js
  test/unit/example.spec.js
Due: npm run prettier, npm run lint:fix, git add .

Update migration runner example
  migrations/runner/app.js
Due: npm run prettier, npm run lint:fix, git add .

Fix baseURL config & add default http client transformation
  config/custom-environment-variables.json
  config/default.json5
  config/development.json5
  config/production.json5
  config/test.json5
  src/services/index.js
Due: npm run prettier, npm run lint:fix, git add .

Update HttpClient 0.0.4
  package-lock.json
  package.json
Due: npm run prettier, git add .

Update Relational Database 0.0.8
  package-lock.json
  package.json
Due: npm run prettier, git add .

Update HttpClient 0.0.5
  package-lock.json
  package.json
Due: npm run prettier, git add .

Update Server 0.0.7
  package-lock.json
  package.json
Due: npm run prettier, git add .

chore: improve test flow
  .eslintignore
  .github/workflows/ci.yml
  .lintstagedrc.yml
  .prettierignore
  package.json
Due: npm run prettier, git add .

wip
  .c8rc
  package-lock.json
  package.json
Due: npm run prettier, git add .

wip
  package.json
Due: npm run prettier, git add .

chore(statics): add .md to fix:fmt
  .lintstagedrc.yml
  package.json
Due: npm run prettier, git add .

chore: add extensions to lint
  migrations/config/config.cjs
  package.json
Due: npm run prettier, git add .

fix: custom env vars definition
  config/custom-environment-variables.json
Due: npm run prettier, git add .

chore: fix lint stated config
  .lintstagedrc.yml
Due: npm run prettier, git add .

Update Relational Databas 0.0.9
  package-lock.json
  package.json
Due: npm run prettier, git add .

Small fixes in linters execution
  .lintstagedrc.yml
  migrations/runner/app.js
  package-lock.json
  package.json
Due: npm run prettier, npm run lint:fix, git add .

Add generic readme
  README.md
Due: none

Add multi-asset build
  .github/workflows/ci.yml
  Makefile
Due: npm run prettier, git add .

Fix env retrieval from migration lambda
  migrations/runner/app.js
Due: npm run prettier, npm run lint:fix, git add .

chore: change fmt to format
  package.json
Due: npm run prettier, git add .

Update vulnerable libraries
  package-lock.json
  package.json
Due: npm run prettier, git add .

chore: add observability
  package-lock.json
  package.json
  src/index.js
Due: npm run prettier, npm run lint:fix, git add .

Conditionally enable tracing, avoid tracing on non-production environments by default
  config/default.json5
  config/production.json5
  src/index.js
Due: npm run prettier, npm run lint:fix, git add .

Allow tracing enablement via TRACING_ENABLED environment variable
  config/custom-environment-variables.json
Due: npm run prettier, git add .

Update vulnerable libs
  package-lock.json
Due: npm run prettier, git add .

feat: upgrade to Fastify 5
  docker-compose.yml
  package-lock.json
  package.json
  src/server.js
Due: npm run prettier, npm run lint:fix, git add .

fix: use routerOptions for Fastify 5 compatibility
  config/default.json5
  src/server.js
Due: npm run prettier, npm run lint:fix, git add .

Path conditions:
  npm run prettier: ((any of: *.js) or (any of: *.json)) or (any of: *.yml)
  npm run lint:fix: any of: *.js
  git add .: ((any of: *.js) or (any of: *.json)) or (any of: *.yml)
